body {
  background: #17ac1d;
  background-image: url("../img/green-fabric-1.png"), url("../img/green-fabric-2.png");
  background-repeat: repeat-x, repeat;
}

.app-title {
    margin-top: 24px;
    margin-bottom: 24px;
}

.menu-area {
	margin-top: 48px;
}

.word-definition {
    margin-top: 12px;
    margin-bottom: 12px;
}

.cs-text {
    text-align: center;
}

.cs-text sub {
	font-size: 6px;
}

.cs-text span[class^="word"] {
	display: inline-block;
	margin: 2px 4px;

}

.cs-text span[class^="char"] {
	width: 32px;
	height: 32px;
	display: inline-block;
	background: #e4d095;
	color: #2a1f1b;
	border-radius: 2px;
	font-size: 18px;
	font-weight: 100;
	line-height: 32px;
	margin: 2px -2px;
	text-align: center;
	cursor: default;
	font-family: Arial, sans-serif;
	text-shadow: 
		1px 1px 1px rgba(255, 255, 255, 0.9), 
		0 -1px 1px rgba(255,255,255,0.2);
	box-shadow: 
		1px 5px 10px rgba(0,0,0,0.8),
		inset 2px 0 1px rgba(255,255,255,0.4),
		inset 0 2px 0px rgba(255,255,255,0.5),
		inset -1px -2px 0px rgba(143,128,82,0.6);
}

.cs-text span[class^="char"]:nth-child(odd) {
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}

.cs-text span[class^="char"]:nth-child(3n) {
	-webkit-transform: rotate(-3deg);
	-moz-transform: rotate(-3deg);
	-o-transform: rotate(-3deg);
	-ms-transform: rotate(-3deg);
	transform: rotate(-3deg);
}